<form [formGroup]="service.form" class="normal-form">
<mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
        <div class="controles-container">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
                <input formControlName="fullName" matInput placeholder="Full Name">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="mobile" matInput placeholder="Mobile">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="city" matInput placeholder="City">
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controles-container">
            
            <div class="add-buttom-padding">
                <mat-radio-group formControlName="gender">
                    <mat-radio-button valve="1">Male</mat-radio-button>
                    <mat-radio-button valve="2">Female</mat-radio-button>
                    <mat-radio-button valve="3">Other</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" (click)="onSave()">Submit</button>
                <button mat-raised-button color="warn" type="cancel">Cancel</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
</form>
